<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS here-->
    <title>Lively Cities</title>
</head>
<body>
    <div class="container">
        <p class="large big-col">Welcome, ???!</p> <!-- Display name of user from session here! -->
        <p class="col"><a href="/">Exit</a></p>
    </div>
    <h1>List of Cities</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>City</th>
                <th>Mayor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Add code to show each city here!-->
        </tbody>
    </table>
    <a class="link-btn" href="/">Add city</a>
</body>
</html>