<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS here-->
    <title>Edit a City</title>
</head>
<body>
    <div class="container">
        <p class="large big-col">Edit city #???, ???</p>
        <p class="col"><a href="/">All cities</a> <a href="/">Exit</a></p> <!-- Correct links! -->
    </div>
    <form action="" method="POST"> <!-- Change the action! -->
        <!-- How do we prepopulate the forms? -->
        <div class="container">
            <label for="name" class="label-col">Name:</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="container">
            <label for="mayor" class="label-col">Mayor:</label>
            <input type="text" name="mayor" id="mayor">
        </div>
        <div class="container">
            <label for="population" class="label-col">Population:</label>
            <input type="number" name="population" id="population">
        </div>
        <!-- Remember to have a button or input type="submit"!-->
        <input type="submit" value="Edit city" class="offset-btn">
    </form>
</body>
</html>