<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS here-->
    <title>Add a City</title>
</head>
<body>
    <div class="container">
        <p class="large big-col">Lively Cities and Landmarks</p>
        <p class="col"><a href="/">All cities</a> <a href="/">Exit</a></p> <!-- Correct links! -->
    </div>
    <h1>???, let's add a city!</h1> <!-- Display name from session here! -->
    <form action="/cities/add_to_db" method="POST"> <!-- Don't forget action and method="POST"!-->
        <div class="container">
            <label for="name" class="label-col">Name:</label>
            <input type="text" name="name" id="name"> <!-- Don't forget name="key_value" in forms!-->
        </div>
        <div class="container">
            <label for="mayor" class="label-col">Mayor:</label>
            <input type="text" name="mayor" id="mayor">
        </div>
        <div class="container">
            <label for="population" class="label-col">Population:</label>
            <input type="number" name="population" id="population">
        </div>
        <!-- Remember to have a button or input type="submit"!-->
        <input type="submit" value="Add city" class="offset-btn">
    </form>
</body>
</html>