<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS here-->
    <title>View a City</title>
</head>
<body>
    <!-- We will change this to show the city from the database! -->
    <h3>Here is your city, {{ session["name"] }}!</h3>
    <p>Mayor: {{ session["mayor"] }} </p>
    <p>Population: {{ session["population"] }}</p>
</body>
</html>