<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 11th fix: styles.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Add game</title>
</head>
<body>
    <div class="container">
        <div class="top-nav">
            <p class="col-wide">Add a game</p>
            <div class="nav-links">
                <p class="col"><a href="/">Hello</a></p>
                <p class="col"><a href="/">Hello</a></p>
            </div>
        </div>
    </div>
    <div>
        <form action="/games/add_to_db" method="POST">
            <div class="form-input">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="form-input">
                <label for="rating">Rating:</label>
                <input type="number" name="rating" id="rating" step="0.1">
            </div>
            <div class="form-input">
                <label for="first_name">First name:</label>
                <input type="text" name="first_name" id="first_name">
            </div>
            <div class="form-input">
                <label for="last_name">Last name:</label>
                <input type="text" name="last_name" id="last_name">
            </div>
            <input type="submit" class="my_button" value="Add game">
        </form>
    </div>
</body>
</html>