<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>First HTML file</title>

</head>
<body>
    <h1>Choose Your Own Adventure!</h1>
    <p>You wake up in a strange room.  It's 5 AM in the morning, and the sun hasn't risen yet.  Now you hear a scream coming from somewhere inside the house.  What do you do?</p>
    <p><a href="/look">Investigate</a> <a href="/sleep">Keep sleeping</a></p>
</body>
</html>