<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>First HTML file</title>

</head>
<body>
    <h1>Choose Your Own Adventure!</h1>
    <p>You open the door, and slowly walk down the steps to the first look.  What you discover is a mouse running around, and your best friend is absolutely frightened of mice.  What do you do to help your friend?</p>
    <p><a href="/trap">Trap the mouse</a> <a href="/call">Call a neighbor</a></p>
</body>
</html>