<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>First HTML file</title>

</head>
<body>
    <h1>Choose Your Own Adventure!</h1>
    <p>You chose to go back to bed.  Two hours later, the sun is beaming down through a window.  You wake up.  Now you go down the steps.  Your friend is eating breakfast - a bowl of oatmal.  But your friend is feeling pale?  How do you help?</p>
    <p><a href="/???">???</a> <a href="/???">???</a></p>
</body>
</html>